<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/static/images/logo.png" alt="logo" />
            </a>

            <div class="collapse navbar-collapse" id="navbarsExample02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/message">Send message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/read">Read</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>`